[2013-07-12 21:04] derekgroh opened #1 "AD Objects"
Create provided to manage OUs, User, Groups, Computers, Contacts

[2013-07-12 21:05] derekgroh opened #2 "Multiple Domain Controllers"
Add to domain provider to support additional domain controllers

[2013-07-12 21:15] derekgroh opened #3 "Join Domain"
Create provider to join an active directory domain

[2013-07-12 21:18] derekgroh opened #4 "Networking"
Create a provider to address networking settings in order to properly join an active directory domain

[2013-07-12 21:21] #4 closed, assigned to nobody

[2013-07-15 19:29] derekgroh opened #5 "Read Only Domain Controller"
Add support for read only domain controllers

[2013-07-15 19:29] derekgroh opened #6 "Child domains"
add support for child domains

[2013-07-15 20:05] #3 closed, assigned to nobody

[2013-07-15 20:06] #2 closed, assigned to nobody

[2013-10-22 20:47] #1 closed, assigned to nobody

[2014-04-21 14:53] derekgroh opened #11 "Testing"
Include testing support using chef-spec? test-kitchen?

[2014-06-11 17:20] derekgroh opened #12 "Allow restart for domain join to be optional"

[2014-09-25 22:16] jpbueno opened #16 "Does it work for Win Srv 2008 R2?"

[2014-10-01 15:17] #16 closed, assigned to nobody

[2014-10-16 01:55] mwrock opened #19 "Supermarket release"
The latest version on the supermarket is about 7 months old. Would be great if we could get a release pushed.  Thanks!!

[2014-10-23 21:44] #19 closed, assigned to nobody

[2014-11-04 18:36] derekgroh opened #24 ":Join and :unjoin need own provider"
Their operation and resource requirements are no longer relevant under the :domain provider

[2015-01-17 16:31] miguelaferreira opened #28 "Command options are not always wrapped leading to command failing"
In the user provider action `:create`, the values for the command line options passed to `dsadd user` are wrapped in double quotes:

    # Line 42 of providers/user.rb
    cmd << " -#{option} \"#{value}\""

However, in the remainder actions of that provider (as well as in other providers) the values are not wrapped, leading to the command failing when executing.

    # Line 61 od providers/user.rb

[2015-01-17 17:05] miguelaferreira opened #30 "Not possible to add a group to CN=Users"
When creating a group, setting `ou` to `Users` will result in an `Directory object not found` error because the distinguished name will be invalid (e.g. `CN=groupname,OU=Users,DC=domain,DC=local`)

[2015-01-17 17:12] #30 closed

[2015-01-17 18:21] #28 closed

[2015-01-18 19:50] miguelaferreira opened #33 "Distinguished name is not well formed when OU contains word 'users'"
When OU contains the word 'users' (e.g. 'AD/user' or 'application/service users') the distinguished name will not be correct because the OU will not be correctly parsed (e.g. 'CN=AD/user' instead of 'OU=user,OU=AD')

[2015-01-21 10:02] #33 closed

[2015-01-21 10:07] miguelaferreira opened #35 "Managing AD objects during "normal" chef-run"
Hi,

This cookbook works fine to create and mange AD objects as long as the user running chef-client has domain admin rights.
However, in the "normal" chef-client runs  (i.e. started by the timer) the user that runs typically has read access to AD.

The obvious solution seem to be raising the AD privileges of the user running chef-client, but that might trigger some alarms from security policies,

[2015-02-04 11:42] miguelaferreira opened #37 "Setting DNS before joining domain"
When joining a domain, unless there is external DNS setup, one needs to update the DNS records on the box in order for it to connect to the DC.

Any ideas on how to achieve this with chef/ruby?

[2015-02-04 15:18] lolindirfalasion commented on #37
Before installing ADDS? Modify the hosts file or install DNS before ADDS.  I feel an easier solution would be to provide the correct networking information either via DHCP or to statically set the DNS server

[2015-02-05 14:53] miguelaferreira commented on #37
@lolindirfalasion I've tried setting up a hosts file on the machine that joins the domain, but what do I put in the host name?

I mean, if my domain is called `test.local` should I map that to the IP of the domain controller machine?

[2015-02-05 15:13] lolindirfalasion commented on #37
# localhost name resolution is handled within DNS itself.
# 127.0.0.1       localhost
# :1                   localhost
10.0.0.1            test.local

Should work for you.  To test it, open a command prompt and do ipconfig /flushdns then do an nslookup on the ip and domain name to make sure it is resolving correctly.

[2015-02-05 15:32] miguelaferreira commented on #37
So I did that. hosts file looks like this:
[code]

I can ping the host:
[code]

But the DNS lookup does not work:
[code]

The IP addresses of the domain control are:
[code]

[2015-02-05 15:40] lolindirfalasion commented on #37
Looks like you're in a private network trying to find another private network.  Vagrant?

[2015-02-05 15:42] miguelaferreira commented on #37
Yes it is a private network and both boxes are in that same network.

Vagrant file snippet:
[code]

[2015-02-05 15:42] lolindirfalasion commented on #37
Come join me here, we can discuss it: http://www.hipchat.com/g8eZZzR15

[2015-02-05 16:55] alex-williams commented on #37
Hiya, I'm having a problem getting this to join a domain, with Windows 2012 (Not R2). Both the member server and the DC are 2012.

I've run the code from the resource directly in powershell and it joins the domain, reboots the server and all is well, but for some reason, if I use the recipe I get the following output, every time (I've removed passwords and the actual domain etc..

[2015-02-05T16:2

[2015-02-05 16:58] alex-williams opened #38 "Issue with joining the domain on Windows 2012"
Hiya, I'm having a problem getting this to join a domain, with Windows 2012 (Not R2). Both the member server and the DC are 2012.

I've run the code from the resource directly in powershell and it joins the domain, reboots the server and all is well, but for some reason, if I use the recipe I get the following output, every time (I've removed passwords and the actual domain etc.)

[2015-02-05T16:2

[2015-02-05 17:15] lolindirfalasion commented on #38
@alex-williams The error you're getting is "Unable to update the password. The value provided as the current password is incorrect."  Try the following link for assistance: http://support.microsoft.com/kb/842715

[2015-02-05 17:18] alex-williams commented on #38
Hi, the password is correct, as I said in the issue above, if I copy and paste the code, directly from the error, including the password, it works perfectly fine.

[2015-02-05 17:25] lolindirfalasion commented on #38
@alex-williams Can you provide your recipe?

[2015-02-05 17:26] alex-williams commented on #38
windows_ad_domain "my.domain.com" do
  action :join
  domain_pass "secretPassword"
  domain_user "sup_chef"
end

[2015-02-06 14:30] alex-williams commented on #38
I don't know if you've had a chance to look at this, but it would appear the SYSTEM user that Chef runs under, is unable to join a domain. I'm currently trying something that might work around this. If I get anywhere, I'll let you know.

[2015-02-06 15:59] miguelaferreira commented on #37
So, in the end I had to set DNS in order to resolve the domain name to the IP of the DC.
I did it like this:
[code]
I will improve it to first scan for NICs and set the index(es) accordingly.

[2015-02-06 16:48] lolindirfalasion commented on #37
I'll continue to see if I can find a solution for vagrant / virtualbox as it would be useful for testing, but likely won't include anything in the cookbook as it is a virtual box limitation

[2015-02-06 16:55] lolindirfalasion commented on #38
@alex-williams Hmm I'm guessing that with https://github.com/TAMUArch/cookbook.windows_ad/pull/20 we probably should of had line 145 be ```ruby if node[:os_version] >= '6.2' ```

[2015-02-06 17:24] lolindirfalasion commented on #38
@alex-williams I was able to run your recipe successfully in vagrant.  If you need further help ping me here and I'll see what I can help you with.

http://www.hipchat.com/g8eZZzR15

[2015-02-10 02:22] galenemery commented on #38
Looking into this issue; there's several potential causes for the "error message: Unable to update the password. The value provided as the current password is incorrect."

Most of them have to do with network connectivity issues between the computer and DC.  Which should be ruled out if it can execute manually.

There was one mention that if the user you're attempting to use is not part of Local U

[2015-02-10 15:16] miguelaferreira commented on #11
chef-spec matchers have been added in 29f24a31d3051eec43d2fa0ca619d7416b452c39.
I do have some stuff for testing with Vagrant (kitchen-winrm plugins were not mature enough, but I know there have been developments).

I wound't mind committing all my testing code and configuration. The only thing I can't make available is the windows vagrant boxes I use (due to licensing).

[2015-02-11 13:58] alex-williams commented on #38
It seems this was as simple as adding the domain, to the username in the recipe, thus:

windows_ad_domain "my.domain.com" do
action :join
domain_pass "secretPassword"
domain_user "domain\\sup_chef"
end

The domain was not needed for issuing the command manually on the command line, but it is from Chef for some reason. Probably relating to the use of the SYSTEM account, instead of the local Adminis

[2015-02-11 13:58] #38 closed

[2015-02-13 15:13] lolindirfalasion commented on #35
Pull request merged.

[2015-02-13 15:13] #35 closed

[2015-02-13 15:15] lolindirfalasion commented on #37
@miguelaferreira I'm going to close this issue, but it is a good info to be aware of this limitation with vagrant/virtualbox when testing.

[2015-02-13 15:15] #37 closed

[2015-02-13 15:17] lolindirfalasion commented on #11
@miguelaferreira As long as your vagrant boxes are built without a registered Microsoft license OEM, you should be able to use reference those vagrant boxes for others to use.

Alternatively, are there any significant changes or modifications you've made to the vagrant base box that wouldn't be covered by any of the existing boxes on https://vagrantcloud.com/ ?

[2015-02-13 16:03] miguelaferreira commented on #37
Just for furture reference:

[code]

[code]

[2015-02-13 16:12] miguelaferreira commented on #11
@lolindirfalasion I will investigate further this issue. We have a automated build with packer that spits out boxes (cause they need to be renewed every 180 days or so). It would be great to post them to vagrant cloud.

Regarding modifications, we do make sure:
- a vagrant user with password vagrant is created
- that a new SID be generated when the box is spun-up the first time
- that winrm is ena

[2015-02-13 16:15] miguelaferreira opened #40 "Support more containers"
Currently the cookbook supports some AD containers (e.g. users).
But there a re more containers that are handy to use (e.g. Builtin, ForeignSecurityPrincipals, Managed Service Accounts).

I will work on the support for these containers.

Please let me know if there are already people working on this.

[2015-02-13 16:26] lolindirfalasion commented on #40
Not that anyone has told me.  Our work with FSP is to add the object to a domain local group which creates the FSP, but support for those containers would be nice.

[2015-02-17 13:40] miguelaferreira commented on #40
@lolindirfalasion could you please release a new version of the cookbook? I would like to freeze it and our policy does not allow me to freeze patched versions.

[2015-02-17 13:40] #40 closed

[2015-02-22 17:18] miguelaferreira opened #42 "Error creating OU does not break chef-client run"
In a chef-client run I saw an error saying "parent OU does not exists". That means chef-client tried to create an OU for which there was not a valid parent.
However, chef-client continued to run, instead of breaking.

I would expect the client to break, otherwise it will be harder to identify the root cause (a missing or not well defined AD object) of other failures further down the line.

Example

[2015-02-22 17:52] miguelaferreira commented on #42
The problem is that the methods that check for the parent OU are not decomposing a nested out. That is, when the parent OU is something like "a/b", the provider will check for the existence of a DN that starts with "OU=a/b,...".

I will provide a patch that addresses this. The strategy will be to refactor the functionality that decomposes nested OUs into a separate method in the helper class, unit

[2015-02-22 19:30] miguelaferreira commented on #42
My PR partly addresses this issue. It fixes the problem with nested OUs, but it does not break the chef-client run when there is an error.

I did not make that change because it is something that happens with all providers.
I'm in favour of breaking the client run when there is an error manipulating an AD object, this way it becomes more visible. But before I make such a crosscutting change I woul

[2015-02-22 20:23] miguelaferreira opened #44 "group_member provider does not recognise existing member"
The group_member provider misses members in groups due to a case sensitive comparison.
Since windows is (in general) a case insensitive platform, this brings problems.

I will be issuing a patch to address this issue, not only for the group_member provider, but for all of them.

[2015-02-23 07:46] #44 closed

[2015-02-23 22:15] miguelaferreira commented on #42
@lolindirfalasion ping

Any thoughts on how to handle errors coming from the AD management tools?

[2015-02-23 22:31] lolindirfalasion commented on #42
@miguelaferreira Why not code in a flag that would cause it to error if the individual wants it to do so, but by default log the error to console and continue the run?

[2015-02-24 08:33] miguelaferreira commented on #42
Sounds like a plan :+1:

[2015-04-08 14:20] alex-williams commented on #37
This is very relevant for AWS usage as well, so I like this. I currently do much the same thing in my powershell bootstrap script, before running chef.

[2015-04-08 20:07] miguelaferreira commented on #37
@alex-williams good to know you like it. I didn't go through the trouble to make it idempotent since I only use it for testing this cookbook (and others that require a windows domain). However I would suggest to add a conditional clause to the powershell_script resource to achieve idempotency.

[2015-09-10 14:41] #12 closed

[2015-09-15 16:23] jboeshart opened #52 "Undefined Method 'ou'"
I'm getting the following error when attempting to add a server to a domain with the `ou` attribute specified in the windows_ad_domain resource. Is there something I'm missing here or is there a bug with this parameter? If I comment the `ou` line the domain join succeeds.

[code]

[2015-09-15 16:25] derekgroh commented on #52
@jboeshart Hi, what version of the cookbook are you using?  Can you post your recipe as well?

[2015-09-15 16:33] jboeshart commented on #52
I'm using 0.4.2 (pulled down through Berkshelf). The content of my recipe is below. The bit at the top just handles the decryption of `#{ad_pw}` using AWS KMS.

[code]

[2015-09-15 16:40] jarosser06 commented on #52
@jboeshart It doesn't look like ou is an attribute for domain.  I think you would need to pass that as an option

[2015-09-15 16:43] jboeshart commented on #52
It shows that it is in the README, looks like it was added in 0.4.2.

[2015-09-15 16:44] jarosser06 commented on #52
Ignore me.  I was reading the wrong file :/

[2015-09-15 16:45] jboeshart commented on #52
No worries. I'm not sure what's missing. I've not written a LWRP before, but as far as I can tell it looks like the attribute it set up correctly so I don't know why it doesn't like it.

[2015-09-15 18:26] jboeshart commented on #52
From metadata.rb:
[code]

From domain.rb:
[code]

Looks like the `ou` attribute is missing from domain.rb...

[2015-09-15 18:32] jboeshart commented on #52
Yeah, if I download manually from the supermarket, it's not in there. All the files in the tar downloaded from the supermarket are dated 2/27/2015 if that matters.

[2015-09-15 18:39] derekgroh commented on #52
@jboeshart please pull from github.  There has always been an issue with my account and supermarket in that they won't allow me to update the cookbook.

[2015-09-15 19:22] jboeshart commented on #52
Yeah, I can do that as a workaround, but shouldn't it be fixed on the Supermarket? If we can't rely on what's published in the Supermarket to have parity with the repo then maybe the cookbook should be removed/re-added?

[2015-09-15 19:46] derekgroh commented on #52
@jboeshart I'll reach out to Chef again for support on the issue, but consider this the source for development for this cookbook until the issue is resolved.

[2015-09-15 19:46] #52 closed

[2015-09-15 20:26] jboeshart commented on #52
So I've pulled down the cookbook (confirmed I'm using 0.4.2) but am getting a different error now. If you want this as a separate issue, I can create a new one. Recipe is unchanged from what I posted above.

[code]

[2015-09-16 16:05] jboeshart commented on #52
Looks like this is due to a `<<` instead of an `=` in the `ou_dn` method. PR #53 should correct that on the join & unjoin commands, and also addresses the issue in #38.

[2015-09-25 21:08] derekgroh commented on #24
Additional features / support needed for Windows 7.  Reports Windows 6.1.7600, however doesn't have support for netdom, but doesn't have Powershell 4 installed to support all options for Add-Computer

[2015-10-16 21:26] dfduarte opened #56 "Cannot find 'ou' method"
Hello,

Recently, I did a little wrapper to insert a machine in my AD, and to do some tests with this cookbook. Everything ok...

But, when I add the ou attribute to join the server within a OU, I receive the following message:

[code]

And I can't join the machine in AD alongside the OU.

I see that the logic is already implemented in the domain.rb resource, but it's not working properly.

[2015-10-16 21:29] derekgroh commented on #56
@dfduarte Can you provide your recipe and I'd be happy to help you troubleshoot?  Also please include what version of the cookbook you are using.

[2015-10-16 21:32] dfduarte commented on #56
Hello @derekgroh

So far, my recipe is just a powershell script that changes the DNS configuration from all the network interfaces, and points the primary to AD, and joins the machine to Directory:

[code]
(I've deleted the test01/test, and keept just the test01. It was just a test to see this error. The correct OU is test01)

[2015-10-16 21:35] dfduarte commented on #56
Oh, sorry: The version is 0.4.2!

[2015-10-16 23:57] derekgroh commented on #56
What version of chef-client are you using?  I was able to join successfully on 11.18.12

[2015-10-17 00:29] dfduarte commented on #56
@derekgroh I'm using the lastest (12.5.2) here. I simply bootstrapped some new machines and started to test the cookbook.

[2015-10-17 02:11] dfduarte commented on #56
Hello @derekgroh

Btw: I tired to run the cookbook with your 11.18.12 version. but my cookbook uses the "Poise" library. I use it to write some providers for my cookbooks. Poise is not compatible with Chef < 12 (as up I can see), it throws a lot of errors in libraries and recipes.

So, I tried the chef 12.3, given that 12.4 implemented A LOT of changes in DSLs and providers processing. But, I had

[2015-10-17 04:03] dfduarte commented on #56
Hey @derekgroh,

I guess that I figured out what is the problem:

For some reason, the version that I have on my Chef-Server, don't have declared the resource "ou" on resource/domain.rb. Maybe, the problem can be solved declaring this.

Strange fact: my git has cloned your repository as 0.4.3v. And this problem were fixed on this version. Did you fixed that in the meantime?

[2015-10-17 20:52] derekgroh commented on #56
@dfduarte ok had to unshare the cookbook from supermarket to get it to correct the issue.  Will attempt to figure out how I can upload past versions over the next few days.  See if the latest version from supermaket works for you

[2015-10-18 02:03] dfduarte commented on #56
Hello @derekgroh

I did some tests here, and the new 0.4.4 version worked like a Swiss clock. Great work my friend =)! (At least, on the parts which I need on your library/cookbook. But everything seems working ok)

I just found a little trick problem. But, it's more a problem from Win2008R2 NETDOM than the cookbook itself: The command fails if you use a password with semi-collon. Yep, this is not

[2015-10-18 18:52] #56 closed

[2015-10-20 17:50] cixelsyd commented on #38
@alex-williams Thanks so much - I received this exact error when using this cookbook.  The readme should be updated to note that using domain_user "domain\\user" is necessary for domain joins.

[2015-10-20 17:59] derekgroh commented on #38
@cixelsyd We're working on cleaning up the documentation and providers, if you you notice an inconsistency, please let us know.  Regarding the :required flag, the :domain provider has been the wrong place for :join and :unjoin for a long time. It will shortly be moved to the :computer provider.

[2015-10-21 00:12] cixelsyd commented on #38
Makes sense.  I just worked through the logic in providers.rb and found some functional bugs there, too.

mobile

[2015-10-26 19:08] derekgroh opened #59 "Server 2008r2 - create forest - exit codes"
Windows Server 2008r2 when creating a forest/domain with default settings will install DNS but will not configuring it causing an error code 3 (ExitSuccessWithNonCriticalFailure).

[2015-10-28 22:26] derekgroh commented on #59
==> win2008r2: [2015-10-28T15:10:14-07:00] FATAL: Mixlib::ShellOut::ShellCommandFailed: powershell_script[create_domain_contoso.com] (C:\vagrant-chef\6aa323720a62bec1828e15e4cabfa3a2\cookbooks\windows_ad-TAMUArch\providers\domain.rb line 53) had an error: Mixlib::ShellOut::ShellCommandFailed: Expected process to exit with [0], but received '3'
==> win2008r2: ---- Begin output of "C:\Windows\system

[2015-10-31 19:37] #59 closed

[2015-11-17 03:16] jhsubscribe opened #62 "domain :join action is erroring if the domain exists instead of not exists"
G'day All,

Thanks for another useful cookbook.

Am I missing something obvious or should the following domain :join code say "!exists?"  (If so I guess most folks using this cookbook aren't using chef for the actual domain join).

action :join do
  if exists?
    Chef::Log.error("The domain does not exist or was not reachable, please check your network settings")
    new_resource.updated_by_last_

[2015-11-17 16:18] derekgroh commented on #62
That does seem backwards doesn't it? Hmm

[2015-11-17 20:38] derekgroh commented on #62
@jhsubscribe If you want to do a PR that would be great.

exists? and computer_exists? are both evaluating false during my testing, however manually running the commands is producing the desired results.  So there is clearly something wrong going on here.

[2015-11-24 10:51] jhsubscribe commented on #11
I'm obviously very new to this project but I was thinking it might be a good idea to try a .kitchen.yml based on the one in the "windows" cookbook (ie using the same vagrant boxes) https://github.com/chef-cookbooks/windows/blob/master/.kitchen.yml .

The main barrier I see to using test-kitchen is moving the test recipes out into the normal recipes folder (maybe prefix them with test_ and add comm

[2015-11-24 11:07] jhsubscribe opened #65 "Ability to move computer account to specified OU"
My reading of the Computer :move action is that this is the function one would use to ensure that a computer account is in the correct OU.

":move: Rename a computer object without moving it in the directory tree, or move an object from its current location in the directory to a new location within a single domain controller."

I couldn't get it to work (e.g. it seemed to use the supplied OU as cu

[2015-11-24 19:10] derekgroh commented on #11
From my initial dive into this, it seems we will need syspreped guests or ensure that testing is controlled in that a domain controller and domain member are never the same box. I've started work on building syspreped systems for use with a .kitchen.yml but have only been successful with server 2012 family. These boxes can be found here: https://atlas.hashicorp.com/derekgroh

Speaking with the Che

[2015-11-25 10:09] miguelaferreira commented on #11
I've been using vanilla images to test with kitchen. Then I have a test cookbook that does the prepping.
Having pre-preped images does make the test run a bit faster, which is great, but also increases the maintenance effort in keeping the images up to date.

On the actual testing:
  * It is a really bad idea to mix the test and production code, so I would say :-1: to @jhsubscribe's idea of moving

[2015-12-09 19:29] derekgroh opened #68 "Chef-12 Dynamic Resource and Provider"
Update resources and providers to use dynamic resolution

Reference: https://www.chef.io/blog/2015/02/10/chef-12-provider-resolver/

[2015-12-21 22:40] geerzo opened #69 "Create forest/domain with options don't work"
Windows 2008

[code]

The options aren't formatted correctly. In this case you wind up with "-forestlevel 4" on the shell command for dcpromo when it should be "-forestlevel:3".

I suspect this has something to do with the warning at the beginning of the run of

"ERROR: This version of Windows Server is currently unsupported beyond installing the required roles and features"

[2015-12-23 16:53] derekgroh commented on #69
@geerzo Yep, just ran into this.

Sorta, we need to remove that message, we've been supporting Server 2008 for some time now, there are just some remaining bugs with integration.

Try this to work within the current framework:

windows_ad_domain "contoso.com" do
  action :create
  type "forest"
  safe_mode_pass "Passw0rd"
  options ({ "domainlevel" => "4",
                  "forestlevel" => "4",

[2016-01-07 20:41] #62 closed

[2016-01-07 20:41] #69 closed

[2016-01-08 14:41] derekgroh commented on #65
@jhsubscribe Looking back through issues and pull requests.  The dsmove command information was taken directly from the Microsoft Technet on the command https://technet.microsoft.com/en-us/library/cc731094.aspx.  As the provider is written now the method would be:

`
windows_ad_computer 'cn=Workstation,ou=computers,dc=contoso,dc=com' do
  options ({ "newparent' => 'cn=Workstation,ou=pcs,dc=contoso

[2016-01-18 16:21] odurgeau opened #71 "Impossible to modify a user into OU which contains one space"
When I try to modify a single user and I use an OU which contains one space in his name, I have an error like this :
[code]

I notice into LWRP create user, the DN identifier is surrounded with double quote whereas for modify action not.
[code]

[code]

[2016-01-18 17:56] derekgroh commented on #71
@odurgeau Submit a pull request and I can merge it in.

[2016-01-19 09:08] odurgeau commented on #71
The pull request has been created : #72

[2016-01-19 14:14] derekgroh commented on #71
Merged, thanks!

[2016-01-19 14:14] #71 closed

[2016-01-19 14:47] odurgeau commented on #71
Yw
Thx for this cookbook

[2016-02-22 20:03] moleculezz opened #78 "Version 0.4.5 throws error when creating a forest"
I don't know if this is the right location for this project. It's not very clear from the supermarket page. Normally there is a link to the github repo.

Today berkshelf updated this cookbook to version 0.4.5 and I get the following error:

[code]

Command executed

[code]

I checked the downloaded cookbook and in `providers/domain.rb` at line 40 I see this:
`cmd << " -DomainNetbiosName #{new_reso

[2016-02-22 20:16] derekgroh commented on #78
@moleculezz I released 0.5.0 this morning can you check what version your metadata file says again?

[2016-02-22 20:23] moleculezz commented on #78
@derekgroh I'm on the supermarket page. It only lists version 0.4.4 and 0.4.5 available. Perhaps you forgot to push it to supermarket? (I have no idea how supermarket works)

[2016-02-22 20:40] derekgroh commented on #78
@moleculezz Indeed, well let me look into that.

0.4.5 is being pulled from supermarket, as are all things Berkshelf

For the error above, it seems like the domain name and the domainnetbiosname are the same variable, when the domainnetbiosname for 0.4.5 should be stated using options
options ({
  "domainnetbiosname" => "example.com"
})

[2016-02-22 20:47] moleculezz commented on #78
@derekgroh Yeah. The problem is that there is a line in there that hardcodes the netbios name
[code]

[2016-02-22 20:53] derekgroh commented on #78
@moleculezz There's some cleanup I'm going to have to do with my last merge to 0.5.0.  Tracing through the commits, it seems like domainnetbiosname was removed and is intended for the options.

To make the code work as is with 0.4.5, I'd suggest changing
`
cmd << " -DomainNetbiosName #{new_resource.name}" to cmd << " -DomainNetbiosName #{new_resource.netbios_name}"
`

Add this to resources\domain.

[2016-02-23 11:34] moleculezz commented on #78
@derekgroh I wen't as far as v0.3.0 by checking out the git tags and that line doesn't seem to exist in none of the versions previous to 0.4.5. And master branch neither. So I don't really understand where it has been reintroduced.

[2016-02-23 17:38] derekgroh commented on #24
Duplicate

[2016-02-23 17:38] #24 closed

[2016-02-24 20:34] shoekstra opened #79 "version 0.4.5 cannot join a domain"
Kitchen tests in another project that use this cookbook fail when using 0.4.5:

[code]

[2016-02-24 23:16] derekgroh commented on #78
@moleculezz pushed 0.4.5 tag from my workstation as well as a pre-release of 0.5.0.

Looking back over the netbios issue, the command is different for 2008r2 and 2012, which isn't too difficult to address, however the different type create_commands do not all support the option for 2012.  This is rather difficult to code around at this time, but I'm open to exploring it next.

I brought up an issu

[2016-02-24 23:24] derekgroh commented on #79
@shoekstra The guest isn't by chance a 2008r2 server is it?

[2016-02-25 01:16] shoekstra commented on #79
2012 R2, for now have reverted back to 0.4.4 and works OK.

[2016-02-25 06:43] derekgroh commented on #79
Alright, I know there were some issues with the provider between windows version 6.1 and 6.2 that were addressed in my refactor.

Performing a bit more testing, but will hopefully push release v0.5.0 this week which should add cleaner support for unjoins and joins.

[2016-02-25 22:48] chlsmith commented on #79
Would this give me problems trying to use the example code in the Readme for joining a 2012R2 machine to the domain?   I'm getting the following, even though I can totally see that I'm doing it "right".

===

Chef::Exceptions::ValidationFailed
----------------------------------
Option action must be equal to one of: nothing, create, modify, move, delete!  You passed :join.

[2016-02-26 14:15] moleculezz commented on #78
@derekgroh I am using it for a 2012r2 server. As I suspected the 0.4.5 tag release is different from the supermarket 0.4.5 release. Mainly the `DomainNetbiosName` is present in the supermarket release and not in the github tag release.

Perhaps it's an idea to separate the various types of domain installs. Maybe something similar to how the [docker cookbook](https://github.com/chef-cookbooks/docke

[2016-02-26 15:12] derekgroh commented on #78
@moleculezz That's my fault then, it was probably in a test branch that I merged accidentally to get some other cookbook to work, but never removed it as I switched to options to pass the value into the provider.

I'll consider this a feature request, but feel free to take a stab at it if you would like, best way to learn is to do.

[2016-02-26 16:43] derekgroh commented on #79
@chlsmith Please check which version of the cookbook you have.

v0.4.x
`
windows_ad_domain
  action :join
`
v0.5.0
`
windows_ad_computer
  action :join
`
I'm` actively trying to clean up release 0.5.0 which moves this function under the computer provider (for a multiple reasons)

[2016-02-26 23:13] chlsmith commented on #79
I'm doing 0.4.x now and that works, but the computer one simply did not on the latest version.   The code looked there, but for some reason it wouldn't accept ":join" as an action.

[2016-03-01 01:08] christianTragesser opened #82 "version 0.5.0, parameter issue when trying to join domain"
I'm attempting to join a Server 2012R2 host to our domain using the windows_ad_computer resource in a similar fashion to what I'm seeing in the README:

[code]

When attempting to converge the node the chef-client run fails with the following error:

[code]

I'm using Berkshelf to pull version 0.5.0 directly from GitHub(not using the Chef Supermarket version).

[2016-03-01 18:54] christianTragesser commented on #82
I forked the repo, merged the 'fixes' branch and see the changes you're talking about regarding the resource.  However, when attempting to implement the changes I'm see the same error FWIW.  I'm not strong in Chef custom resources and providers but will continue to troubleshoot and see if I can contribute in terms of a PR.

[2016-03-01 19:08] derekgroh commented on #82
The code is present in the prerelease, if you want to hop on the gitter I'm more than happy to help troubleshoot.

[2016-03-02 07:50] christianTragesser commented on #82
So a correction to my previous statement.  I was getting the same error because I was still pulling the configs from the master branch courtesy of the Berksfile.lock.  The added domain_ attributes to the computer resource resolved the error I was previously getting.  I had to also add the restart attribute as a '[ TrueClass, FalseClass ]' type, then the `:join` action for the ad_window_computer re

[2016-03-02 13:44] derekgroh commented on #82
@christianTragesser Good catch, edit submitted to fixes.  Let me know if you catch anything else that needs correcting.

[2016-03-02 21:02] christianTragesser commented on #82
The current 'fixes' branch shows the restart attribute as type String; this does not work.  Has to be type '[ TrueClass, FalseClass ]' to used boolean values.

Currently the netdom query logic in the Computer provisioner does not appear to be working correctly in comparison to what I'm seeing when performing the commands manually.  Meaning, the current Computer provisioner logic for 'def exists?'

[2016-03-02 23:25] derekgroh commented on #82
@christianTragesser Sounds good.  I was seeing an issue with the provider as well, but mine turned out to be the wrong password.  Performing some more tests across Win2008r2 and Win2012r2 now.

[2016-03-02 23:35] christianTragesser commented on #82
Weird....regarding the netdom query logic I had the same issue.  I was incorrectly pulling credentials from a data bag.  Sorry for the confusion on that, I'm testing while refactoring a pretty gaudy cookbook.

So are you installing dsquery on every host you're wanting to join to a domain when using this cookbook?  I'm not seeing how the join action works w/o it.

[2016-03-03 21:15] derekgroh commented on #82
No, during the development of this cookbook, netdom was found to be the lowest most common method to detect a domain.

Another method should be found to replace that method, but at current I have not seen any better command.  Of the workstations that were tested, they all have RSAT installed so netdom would have been installed.

An alternative method would be to change the code to attempt the doma

[2016-03-03 21:16] derekgroh commented on #79
@chlsmith Let me know if you experience any other issues.

[2016-03-03 21:16] #79 closed

[2016-03-07 16:30] johnsmyth opened #83 "Version 0.4.5 on supermarket readme doesnt match implementation"
The 0.4.5 version of this cookbook that is uploaded to the Chef supermarket does not contain the :join and :unjoin actions for the computer resource as specified in the README of that version.  Also, the version 0.4.5 on supermarket does not appear to be the same as the commit that is tagged 'v0.4.5' here (which does have those actions in the resource btw).

[2016-03-07 16:37] derekgroh commented on #83
@johnsmyth please use the fixes branch.

V0.4.5 shouldn't be used for the number of bugs identified

[2016-03-07 19:36] derekgroh commented on #83
@johnsmyth Released 0.5.1, please address any concerns you have with that version.

[2016-03-07 19:36] #83 closed

[2016-03-08 20:10] derekgroh commented on #82
@christianTragesser The other option would be to utilize https://github.com/NetDocuments/ad-join-cookbook/ work to enhance the provider.  They've already approved collaboration.

What are your thoughts on checking to see if the domain exists or not?

[2016-03-11 19:33] derekgroh commented on #68
#81

[2016-03-17 16:12] chlsmith opened #84 "default.rb"
All the stuff you have added in default.rb is great if you're building a domain controller, but if you're just joining a Windows 2012 R2 server to the domain, it's unnecessary.    You may want to split that out to a separate recipe or something.

[2016-03-21 21:47] derekgroh commented on #84
@chlsmith Could you please clarify the issue you are trying to raise?

The primary purpose of this cookbook is to handle managing active directory, with focus on the domain controllers, as such those roles and features are required in order to create a DC.

As the computer provider does not require or include the default recipe I'm confused to the purpose of your request or how the contents of the

[2016-04-08 13:19] angelomk opened #85 "Creating users fails with dsquery: No value specified for name"
Hi guys,

I am trying to utilize your cookbook for domain users creation but I've hit an issue:

`addns1 Error executing action `create` on resource 'windows_ad_user[servicesql]'`
`addns1 RuntimeError`
`addns1 STDOUT:`
`addns1 STDERR:`
`addns1              dsquery failed:No value specified for 'name'.`
`addns1 Cookbook Trace:`
`addns1 c:/chef/cache/cookbooks/windows_ad/libraries/cmd_helper.rb:43:i

[2016-04-11 21:16] derekgroh commented on #85
@angelomk Looking into this.

[2016-04-13 01:00] achalupa74 commented on #85
I'm seeing the exact same issue.  I've tried the 2 most recent versions (0.5.1 and 0.4.5) and they both seem to exhibit this dsquery problem?

[2016-04-13 01:52] achalupa74 commented on #85
I've found the issue.the dsquery command (in .../providers/users.rb) on this line of code was split across two lines:

    contact = CmdHelper.shell_out("dsquery contact
                                  -name \"#{new_resource.name}\"", cmd_user,
                                  cmd_pass, cmd_domain)

removin the newline in the string command "dsquery contact -name \"#{new_resource.name}\""" solv

[2016-04-13 06:34] derekgroh commented on #85
@achalupa74 That's a rubocop edit.  Let me check the other providers and get something pushed later today.

[2016-04-13 12:03] derekgroh commented on #85
@achalupa74 Here is the updated branch.

https://github.com/TAMUArch/cookbook.windows_ad/tree/issue_85

I'm not able to perform all the tests on the branch right now, but will try to get to it over the next day or two.  Let me know if that works for you or if more edits are required.

[2016-04-13 14:42] angelomk commented on #85
@derekgroh I just did a quick test with "issue_85" branch and I can confirm that users creation works fine now @achalupa74

Looking fwd for the merge, thanks!

[2016-04-15 08:13] deancsmith commented on #85
I was having issues creating an OU and Users with 0.51.

Switching to the issue_85 tag made Chef flawlessly for me.

This was on 2008r2 and only creating a domain, two OUs and two users.

[2016-04-15 13:11] derekgroh commented on #85
Merged, let me know if you discover any other bugs!

-Thanks

[2016-04-15 13:11] #85 closed

[2016-04-15 21:10] airom opened #87 "Cannot create groups in OU's"
Hi,

When i specify the OU to create the group, it does not honor it and eventually does not create the group.
When using 0.5.1 it does not work. If i downgrade to the windows_ad cookbook version to exactly 0.4.4 it does work.

[code]
The debug log indicates that it has been created but it is actually not.
`* windows_ad_group[MYGROUP] action create
`

[2016-04-18 12:52] odurgeau commented on #71
Ultimately, the last commit on this file to remove one line used for surrounded the dn variable for "modify" user : bea632c4a3d50555ac92ab410548b0f297380ca8

Now :
[code]
Instead of :
[code]

[2016-04-21 15:35] airom commented on #87
Any comment ?

[2016-04-21 22:35] derekgroh commented on #87
@airom Sorry much have missed this, can you provide the debug log?

[2016-04-21 23:19] airom commented on #87
@derekgroh Thank you for your response.
Here is the debyg log

[code]

[code]

[2016-04-22 12:11] derekgroh commented on #87
@airom RuboCop errors, addressed with v0.5.3 release #89 #90

Will attempt to get it uploaded to Supermarket later today.

[2016-04-22 18:31] airom commented on #87
@derekgroh  Thank you!

[2016-04-26 16:11] airom commented on #87
@derekgroh I used the cookbook out of the github with the v0.5.3 tag and worked. Thank you again.
Are you planning to upload it to Supermarket?

[2016-04-26 22:18] derekgroh commented on #87
@airom Done, sorry for the delay

[2016-04-26 22:18] #87 closed

[2016-04-30 08:00] aktarali opened #91 "Joining Linux or Unix hosts"
Hi,

Is there any plans to add the functionality to join non Windows environments to ad?

Regards

[2016-04-30 12:05] derekgroh commented on #91
@aktarali Unless I'm missing something that is universially provided, *nix joining to and AD domain is handled by a 3rd party software suite (Centrify, PBIS, etc.).

As such, the best option would be a wrapper cookbook to call that community cookbook if one exists.

If you can provide more information how you are currently doing this, I'm open to exploring the request.

[2016-04-30 12:52] aktarali commented on #91
Hi,

Appreciate you considering to look into ways of doing this.

The most common and acceptable was is using samba...
https://www.samba.org/samba/docs/man/Samba-HOWTO-Collection/domain-member.html

Cheers
Ali
On 30 Apr 2016 13:05, "Derek Groh" <notifications@github.com> wrote:

[2016-04-30 12:56] aktarali commented on #91
Another guide...
https://devopslab.wordpress.com/2014/04/10/configure-samba-with-active-directory-integration-centos-6/
On 30 Apr 2016 13:52, "Ali Aktar" <aktarali@gmail.com> wrote:

[2016-04-30 18:31] derekgroh commented on #91
@aktarali Does this meet your needs? https://github.com/Webtrends/ad-auth

I can start looking into it using samba if that doesn't meet your needs.

[2016-04-30 18:43] aktarali commented on #91
I've seen this bud, I'll give this a try
On 30 Apr 2016 19:31, "Derek Groh" <notifications@github.com> wrote:

[2016-05-03 23:18] jdgoins opened #92 "domain password logged"
Hey guys,

When joining a domain, I've noticed that the credentials are logged if run at the debug level. Is there a way around this? The only way I know is to use sensitive, but that isn't usable as is.

[2016-05-03 23:35] derekgroh commented on #92
Hello,

Can you provide your debug?

[2016-05-05 21:48] albeekj opened #93 "cmd attributes appear to be ignored"
Hoping someone here can help. I am currently using Chef 12.9.41, windows_ad 0.5.3, and windows 2012r2. My ou has a space in it DEV automation,OU=TEST. When ever I try to join or create an object or join to an object, I get a consistent error. " SystemCallError: The user name or password is incorrect. - LogonUserW" What might I be doing wrong? It appears the cookbook ignores cmd\* information.  To

[2016-05-05 21:50] albeekj commented on #93
This is my workaround for creating the object
windows_ad_computer node.name do
  action :create
  domain_name node['test_cookbooks']['cmd_domain']
  ou node['test_cookbooks']['ou']
  options(
    'desc' => 'Vagrant Rake db_migrate task evaluation',
    'u' => node['test_cookbooks']['cmd_user'],
    'p' => node['test_cookbooks']['cmd_pass'],
    'd' => node['test_cookbooks']['domain_name']
  )
  on

[2016-05-05 21:50] albeekj commented on #93
My join is as follows:
windows_ad_computer node.name do
  action :join
  ou "DEV automation/TEST"
  domain_pass node['test_cookbooks']['domain_pass']
  domain_user node['test_cookbooks']['domain_user']
  domain_name node['test_cookbooks']['domain_name']
  cmd_pass node['test_cookbooks']['cmd_pass']
  cmd_user node['test_cookbooks']['cmd_user']
  cmd_domain node['test_cookbooks']['cmd_domain']
  re

[2016-05-07 09:41] derekgroh commented on #93
@albeekj Running debug mode are you able to see what the command line looks like for joining the domain?

Suggest running that manually on the same system and seeing if the operation completes successfully.

I recall seeing a similar error with my own testing, but can not recall what the situation was to actually trigger it.

[2016-05-08 04:25] albeekj commented on #93
@derekgroh <https://github.com/derekgroh> In cmd_helper.rb @ line 39, I
placed the following to see the command output because debug didn't give me
much in terms of output:

   Chef::Log.info(''.center(150,'&'))
    Chef::Log.info( "[DEBUG] #{shellout.inspect}" )
    Chef::Log.info(''.center(150,'&'))

OUTPUT:

dsadd computer "CN=devtstrake02,OU=DEV automation,OU=TEST,DC=example,DC=cc"
-desc "Vagr

[2016-05-11 06:55] derekgroh commented on #93
@albeekj this is the command that will run.  I notice that there is an extra `'`.  Try running the command below directly on your DC and seeing if it is successful or not.
`
dsadd computer "CN=devtstrake02,OU=DEV automation,OU=TEST,DC=example,DC=cc"
-desc "Vagrant Rake db_migrate task evaluation"'
`

[2016-05-11 19:32] jdgoins commented on #84
@derekgroh I believe he is referring to the fact that you cannot have a node join the domain without running the default recipe. The computer resource's join domain function seems to rely on dsquery which is not on a Windows system by default.

Example input:
[code]

Error:
[code]

[2016-05-11 19:38] jdgoins opened #94 "Domain Join Fails When Providing OU"
The domain joining using the computer resource works fine unless I supply an OU. I've been using the old method in 0.4.4 to avoid this.

Chef-client version: 12.6.0
windows_ad version: 0.5.3

Example input:

[code]

Error output:

[code]

[2016-05-16 19:19] albeekj commented on #93
@derekgroh the dsadd works fine.  The machine is part of the AD

[2016-07-08 17:25] albeekj commented on #93
@derekgroh I have dug in a bit more validated we are using windows 2012r2 and tried to do a simple whoami with the following:  I get the exact same error every time.  Is there a switch or a value I am missing?

Ohai2u Administrator@tsttfsapp01!
chef (12.12.13)> cmd_pass = 'superSecret'
 => "superSecret"
chef (12.12.13)> cmd_user = 'vagrant_vsphere_svc'
 => "vagrant_vsphere_svc"
chef (12.12.13)> do

[2016-07-12 20:22] jdgoins commented on #94
Is this still an active project?

[2016-07-12 21:11] derekgroh commented on #94
Yep, just limited availability on my part

[2016-07-13 10:45] derekgroh commented on #94
Hello @jdgoins

From my initial view of your code, please put your ou string in quotes.

`ou "Accounts/test_ou"`

[2016-07-13 12:00] derekgroh commented on #93
@albeekj the credentials will be passed into the following code
`('#{new_resource.domain_name}\\#{new_resource.domain_user}', $secpasswd)`

If your domain is `example.cc` the code will evaluate that to be `example.cc\vagrant_vsphere_svc`.  Try changing your domain_name to just `example` (assuming this is your netbiosname)

[2016-07-13 17:44] jdgoins commented on #94
Hi @derekgroh

I have tried it with quotes. I just tried again and it failed with the same dsquery error. This is only an issue when using the OU property.

I'm not sure what mechanism was being used in 0.4.4, but domain joining to a specific OU worked very well in that version.

I tried this as well:

**attributes/default.rb**
[code]

**recipes/default.rb**
[code]

[2016-07-29 04:56] dcallagh opened #96 "Cannot add user to domain - You must hold the 'Replace a process level token'"
Using the provided user add example.
Administrator is member of domain & enterprise admin
Have changed the password for Administrator in th edomain to see if this was the issue (local V domain) no luck.
Comes up with No error - CreateProcessAsUserW (You must hold the 'Replace a process level token' permission)

Vagrant is 1.8.1

$ vagrant provision win2012r2core
RSA 1024 bit CA certificates are lo

[2016-07-29 06:49] derekgroh commented on #96
This is a new chef run after the system has installed the domain controller?

Might be a unique permission required in core, https://technet.microsoft.com/en-us/library/dn221975(v=ws.11).aspx

Probably need to add the command: `ntrights +r SeAssignPrimaryTokenPrivilege -u <user>`

Sadly my test environment isn't up and running at my new gig, so confirmation might take a bit.

[2016-08-02 02:37] dcallagh commented on #96
Yep. However it only happens if you use the specify user /domain/password. Once i realised the shellout to new cred was the issue i removed them. Strange though as the credentials are the same and for a domain admin....Perhaps its a consequence of using the same login and password as prior to domain join...
Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Derek Groh

[2016-09-26 20:17] #92 closed

[2016-11-21 15:54] roberto-mardeni opened #98 "windows_ad_computer errors when restart not set"
The examples show that the resource can be used without setting the restart attribute, but the attribute is defined as required.

Please update the examples to indicate so.

This commit broke the functionality: https://github.com/TAMUArch/cookbook.windows_ad/commit/73946fc6191a8d2f0d2fb7650fca02a68e88b6c3#diff-82457c8063b3841429fae3ae5f1f4e30

[2016-12-19 23:42] farvour commented on #94
This seems like an issue with the assumption that RSAT is installed on the joining computer and should not be required at all if the full DN is given to the `Add-Computer` cmdlet. The recipe should probably check to see if a full DN is passed, and not attempt to look it up with `dsquery` for those of us that aren't installing RSAT on Server Core.

[2016-12-21 06:21] derekgroh commented on #94
@farvour thanks for the input.  What method do you suggest using for validating if the input is the full DN and not a partial or incorrectly typed?

[2016-12-24 12:48] derekgroh commented on #5
https://github.com/TAMUArch/cookbook.windows_ad/commit/869e8f3a65f003eb70e55103705538f39e1a140e

[2016-12-24 12:48] #5 closed

[2017-02-08 15:51] ebjornset opened #101 "Add support for Windows Server 2016 Family"
Hi,

I've just tried to use **windows_ad_domain** to create a new AD forest om a Windows Server 2016 Core, like this:
[code]

Running **kitchen coverge** fails, and here is (what I think is) the relevant output:

[code]

**ohai** reports
[code]
on the box, so I presume the problem is caused by the comparison ```if node['os_version'] >= '6.2'``` in **providers/domain.rb** line 36 returning false?

[2017-02-08 16:09] derekgroh commented on #101
We don't have code to support 2016 yet.  You can make a feature request and we'll see if anyone picks it up.

[2017-03-16 18:29] austinlparker opened #106 "Updated windows cookbook breaks default recipe"
Yesterday, the Windows cookbook was updated to version 3.0.0. When using this new cookbook, the default recipe no longer functions properly.

[code]

I was able to fix this by pinning the required windows cookbook version to 2.1.1

[2017-03-16 23:19] derekgroh commented on #106
Fixed

[2017-03-16 23:19] #106 closed

[2017-03-27 10:03] gavit opened #109 "incompatible with windows 3.0.0"
https://github.com/chef-cookbooks/windows V 3.0.0 and higher is not backwards compatible. When running this recipe you now get a
`NoMethodError: undefined method "feature" for Custom resource                                  windows_feature_dism from cookbook windows`

[2017-03-27 10:31] derekgroh commented on #109
What version of the cookbook are you running?

[2017-03-27 12:26] derekgroh commented on #109
Hello,

Please use version 0.5.5 of the windows_ad cookbook to resolve the issue.

Thanks,

Derek

[2017-03-27 12:26] #109 closed

[2017-06-06 20:49] joshoohaah opened #111 "have `windows_feature` install all dependencies by default"
the `default.rb` of this cookbook should by default have the dependencies installed for each feature.  see https://github.com/chef-cookbooks/windows#windows_feature  for explanation.
Currently the `ActiveDirectory-Powershell` feature fails out in the default.rb as other dependencies are not installed.

*current style*
[code]
*proposed new format*
[code]

[2017-06-20 14:10] stuartpittaway commented on #111
Agreed, just run into this problem myself

[2017-06-20 20:15] fzbishopclark commented on #94
maybe
`node[cookbook]['join_dsquery']=false`
?  :-D

[2017-06-21 00:51] derekgroh commented on #111
This is actually an error with the .kitchen.yml file and not the code base itself. This cookbook has not been reworked for the changes to windows version 3.0.0.

That being said, I see no reason to not include this change, as it is a good catch all moving forward.
[code]
will fix the issue

[2017-07-26 15:39] joenguyen commented on #111
FWIW, I'm still seeing that issue with `12.21.1`
[code]

[2017-07-26 16:16] derekgroh commented on #111
What OS version?

[2017-07-26 16:18] derekgroh commented on #111
@joenguyen ok I'll take a look.

[2017-07-26 17:35] joenguyen commented on #111
Windows 2012r2

On Wed, Jul 26, 2017 at 11:18 AM, Derek Groh <notifications@github.com>
wrote:

[2017-07-27 07:02] derekgroh commented on #111
@joenguyen Change has been made and released as version 0.6.1 on supermaket. Please let me know if you have any other issues.

[2017-07-27 07:02] #111 closed

[2017-07-27 07:06] derekgroh commented on #101
Resolved with #112

[2017-07-27 07:06] #101 closed

[2017-07-27 07:07] derekgroh commented on #98
These changes have been merged, closing issue.

[2017-07-27 07:07] #98 closed

[2017-08-08 18:40] joshoohaah opened #113 "not all boxes have `ActiveDirectory Powershell`"
not all windows machines have the feature `ActiveDirectory Powershell`.  to install it as a windows feature i had to install `RSAT-AD-PowerShell`

Error:
[code]

Here is the resource I used to install the powershell module
[code]

[2017-08-08 20:18] derekgroh commented on #113
What version of OS did you experience this on?

[2017-08-10 11:58] joshoohaah commented on #113
Windows 2012R2

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Derek Groh <notifications@github.com>
Sent: Tuesday, August 8, 2017 3:18:28 PM
To: TAMUArch/cookbook.windows_ad
Cc: joshoohaah; Author
Subject: Re: [TAMUArch/cookbook.windows_ad] not all boxes have `ActiveDirectory Powershell` (#113)

What version of OS did you experience this on?

—
You are receiving

[2017-08-10 23:26] derekgroh commented on #113
The current provider is written to use dism instead of powershell.

Under dism the feature is named ActiveDirectory-Powershell, while in powershell it is named RSAT-AD-Powershell.

This has been tested and confirmed working with both providers on version 6.3.9600

[2017-08-10 23:26] #113 closed

[2017-08-15 04:46] xyker opened #114 "DCPromo doesn't get executed?"
When trying to create a replica or read-only domain controller, it appears DCpromo does not get executed to finish up the installation of the DC.  All of the necessary packages are installed via Chef but the server manager notifies that there are still post-installation tasks.  Manually going through these tasks does complete successfully.

Script used looks similar to the following:

[code]

[2017-08-15 05:13] derekgroh commented on #114
Hello,

What version of OS did you encounter this on?
What version of the cookbook are you running?

[2017-08-15 05:24] xyker commented on #114
Thank you very much for the quick response.  Apologies on my lack of information.

Windows Server 2012 R2 Datacenter
windows_ad 0.6.1

[2017-08-15 06:40] derekgroh commented on #114
The error is:
A parameter cannot be found that matches parameter name 'SafeModeAdministratorPassword'.
As it is not a supported option in the command Add-ADDSReadOnlyDomainControllerAccount

https://technet.microsoft.com/en-us/library/hh974718(v=wps.630).aspx

I do not see the same issue with replica, but did not perform a full test.

[2017-08-17 05:23] derekgroh commented on #114
I didn't encounter any issues with replica, but read only domain controllers are going to take some effort to work in properly. I'm working on switching over the resource to Chef 12.5 and using powershell for the main resource. I'll add this to the stack.

[2017-08-17 14:41] joshoohaah opened #115 "Forest domain creation causing chef run to fail"
When I create an AD forest.  the chef run always fails/times out on creation.  Then when I run it again I can get to the next step and then the users are deployed.  I have seen that windows when it turns a box into a AD domain controller, it does some funky things to local users.  Is this why the run fails halfway all the time? or am I calling this wrong?

here is the error message
[code]

and her

[2017-08-17 16:19] derekgroh commented on #115
Perhaps, kocal users aren't allowed on a domain controller (unless it is RO) and the local administrator is converted to the system account for the domain.

You shouldn't need the `notifies :request_reboot` as the `restart true` prevents the `-norebootoncompletion` which results in the system rebooting after setup as a DC.

[2017-08-18 13:45] joshoohaah commented on #115
thanks @derekgroh for the `reboot` comment.  Yeah I realized I didn't need it because you have an attribute set in your resource that handles this. I was experimenting to see if i could avoid having my chef run fail for this DC creation.

So is that the normal thing then @derekgroh that the run will timeout/fail once it creates as a DC. then the next run will work?

[2017-08-18 15:10] derekgroh commented on #115
@joshoohaah my results are that the default recipe will produce a successful chef run with desired results, the setup_forest will fail to compete the Chef run (node reboots out from Ohai) but successfully creates a DC.

I've been trying to test a method to allow Chef to reboot the node so that the run succeeds, but have been unsuccessful as of yet, my main goal is to update to the new resource pro

[2017-10-20 13:47] #42 closed

[2017-11-07 02:25] d-mcd commented on #114
Having very similar issue except for forest creation.
When creating a new forest; DS and DNS features are installed but DC promotion is always left to complete.
Windows Server 2016 Base Datacenter
windows_ad 0.6.1

No errors are seen during chef-client run or anything that stand out in Windows EVL.

Code used:

[code]

[2017-11-08 00:32] derekgroh commented on #114
@d-mcd Do you create the instance before converging?

[2017-11-08 01:12] d-mcd commented on #114
Thank you for the reply.
To be clear I am using Chef provisioner in Terraform when standing up my EC2 Windows 2016 instance. Winrm will keep attempting connects until the instance is available. (Time out set to 10 minutes in connection block). Once the winrm connection is established the Chef bootstrap process starts.
Note: I do on occasion encounter an error related to a PS script not being avail

[2017-11-08 02:01] derekgroh commented on #114
@d-mcd Reported via chef or actually checking? Do to the reboot of the node as part of the process, we've not found a way to report back to chef correctly that the node is now a DC.

[2017-11-08 02:31] d-mcd commented on #114
Actually checking.
![image](https://user-images.githubusercontent.com/33379985/32528785-ed977802-c402-11e7-803b-c852b994a8d7.png)

[2017-11-08 02:39] d-mcd commented on #114
Here is the output for the end of the Chef run.

[code]

[2017-11-08 04:50] derekgroh commented on #114
Let me know what progress you can make in the command output that chef runs and we can pick up from there.

[2017-11-09 02:35] d-mcd commented on #114
Have not been able to capture the command that is being built and the PS script file is removed from disk once chef run is complete. Is there a way to prevent that from being removed?And not seeing any issues in chef log with debug on.
However; after upgrading chef-client cookbook from 8.1.8 -> 9.0.0 and windows cookbook from 3.1.3 -> 3.3.0,the DC promotion step has completed for the last three ru

[2018-01-11 01:54] donwlewis commented on #94
I realize this is a bit old, but you could just do a ruby LDAP query leveraging ruby gem.  I am doing that inside my cookbook actually...

[2018-01-11 01:54] donwlewis commented on #94
If I get a chance I will try to put a PR for that.

[2018-02-27 18:56] sknadella87 opened #116 "Recipe Compile Error in c:/chef/cache/cookbooks/windows_ad/recipes/default.rb"
Hi,
I have setup the cookbook and now when I try to bootstrap the test windows machine.

 knife bootstrap windows winrm 10.0.14.14 --winrm-user Administrator --winrm-password 'Passw0rd' --node-name test2 --run-list 'recipe[windows_ad]'

I get the following error:

10.0.14.14 Recipe Compile Error in c:/chef/cache/cookbooks/windows_ad/recipes/default.rb
10.0.14.14 ===================================

[2018-02-27 19:44] derekgroh commented on #116
Howdy,

It doesn’t appear that you included a method.

Can you try windows_ad_domain?

[2018-02-27 19:51] sknadella87 commented on #116
Where should I try  windows_ad_domain?

*Karthik Nadella*
PwC | Senior Associate | Health Industries Advisory
Direct: (703) 918-6938 Mobile: (571) 358-5284
Email: sai.karthik.nadella@pwc.com <sai.karthik.nadella@us.pwc.com>
PricewaterhouseCoopers LLP
1800 Tysons Boulevard McLean, VA  22102

On Tue, Feb 27, 2018 at 2:45 PM, Derek Groh <notifications@github.com>
wrote:

_____________________________

[2018-02-27 20:12] derekgroh commented on #116
Are you trying to install the roles and features or install a domain controller?

windows_ad::default installs the roles and features, to install a domain controller you will need to provide a recipe with the following resource:
[code]

[2018-02-27 20:34] sknadella87 commented on #116
Install the domain controller.

windows_ad_domain worked.That's a lot for your help.

Lastly, How can I update the host file of the windows machine to have chef
server DNS, so that we don't have to manually hard code plus I have to turn
off the firewall in order to successfully execute the bootstrap command.

*Karthik *

On Tue, Feb 27, 2018 at 3:12 PM, Derek Groh <notifications@github.com>
wrote:

[2018-02-27 20:47] derekgroh commented on #116
You can use a template resource to replace the host file if you wanted to go about it that way. If you want the DC to also be a DNS server, include the option to install that during setup:
[code]
I'd encourage you to re-read the README as this was pulled directly from there :)

For the firewall, it might be easiest to use:
[code]
or
[code]

[2018-02-27 20:59] sknadella87 commented on #116
Thanks Derek. Appreciate it.

*Karthik *

On Tue, Feb 27, 2018 at 3:47 PM, Derek Groh <notifications@github.com>
wrote:

______________________________________________________________________
The information transmitted, including any attachments, is intended only for the person or entity to which it is addressed and may contain confidential and/or privileged material. Any review, retransmission,

[2018-02-27 21:02] derekgroh commented on #116
No problem

[2018-02-27 21:34] sknadella87 commented on #116
Hi Derek,

I have updated the default.rb as shown below and have created a template
directory with hosts and also firewall disabling option. But the bootstrap
doesn't work yet.

I think the node does not know where the chef server is . So I'm not sure
if the new addition of template and disable firewall within the default.rb
are even working.

Please assist.

template 'C:\Windows\System32\drivers\

[2018-02-28 00:57] derekgroh commented on #116
You'll need to look at https://docs.chef.io/resource_template.html#windows-file-security for permissions on windows.

You can get the roles/features install by including_recipe[windows_ad::default], I had thought we included that in the example recipe, but checking it just now that is not the case.

You'll need to join the second node to the domain first:
[code]

Please refer to other examples in

[2018-02-28 01:53] sknadella87 commented on #116
Thanks Derek. Got it.

Will try tomorrow and let you know.

[2018-02-28 20:30] sknadella87 commented on #116
Derek,
windows_ad cookbook that worked yesterday does not work today.
I have windows cookbook and have the metadata.rb file updated with depends 'windows'

 Recipe Compile Error in c:/chef/cache/cookbooks/ad_dc/recipes/default.rb
10.0.15.16 ================================================================================
10.0.15.16
10.0.15.16 NoMethodError
10.0.15.16 -------------
10.0.15.16 undefi

[2018-02-28 20:36] sknadella87 commented on #116
Hi Derek,

Can you please check #116 and let me know how to resolve the issue?

windows_ad cookbook that worked yesterday does not work today.
I have windows cookbook and have the metadata.rb file updated with depends
'windows'

Recipe Compile Error in c:/chef/cache/cookbooks/ad_dc/recipes/default.rb
10.0.15.16
================================================================================
10.0.1

[2018-02-28 20:45] sknadella87 commented on #116
Hi Derek,

Sorry this is a priority. Can you please help me here?

*Karthik *

On Wed, Feb 28, 2018 at 3:36 PM, Sai Karthik Nadella (US - Advisory) <
sai.karthik.nadella@pwc.com> wrote:

______________________________________________________________________
The information transmitted, including any attachments, is intended only for the person or entity to which it is addressed and may contain con

[2018-02-28 20:45] derekgroh commented on #116
@sknadella87 Chef community slack

[2018-04-24 22:09] binpath opened #117 "Cannot add user to domain - dsadd failed:The parameter is incorrect."
windows_ad_user[cfxadm] action create

           ================================================================================
           Error executing action `create` on resource 'windows_ad_user[cfxadm]'
           ================================================================================

           RuntimeError
           ------------
           Failed to execute command.

[2018-04-26 06:07] derekgroh commented on #117
Hello,

Can you provide the metadata or berksfile for nvs_ad?

[2018-04-26 17:34] binpath commented on #117
Sorry you can close it!
I notice that my DNS was badly placed.

I'm going to open another issue regarding the windows_ad_group resource that in the exists? method in is not passing user, domain, pwd for the helper.

[2018-04-26 17:42] derekgroh commented on #117
Glad to hear it.

[2018-04-26 17:42] #117 closed

[2018-05-08 21:59] binpath opened #119 "Cannot add user to domain"
In the node I cannot add user to domain if the domain admin user have never logged on.

`[2018-05-08T18:31:23-03:00] INFO: windows_ad_user[create cfxadm]

           ================================================================================
           Error executing action `create` on resource 'windows_ad_user[cfxadm]'
           =============================================================

[2018-05-08 23:13] derekgroh commented on #119
Can you provide your entire run list?

[2018-05-09 04:03] binpath commented on #119
Hi @derekgroh,
My run-list is just a wrapper cookbook  recipe[nvs_ad::createusers]

First y modify some secedit.sdb so we can don't have the error with CreateProcessAsUserW.
Then we call the windows_ad_user resource.

what i did is to log with powershell_script with property flags -LoadUserProfile for now it helps, but the helper in the mixlib/shellout can't run the command if the profile is not l

[2018-05-09 04:26] derekgroh commented on #119
All the same, I'm trying to gain context to understand if it is an issue with how windows approaches the resource or the resource itself. The more information you can provide the easier it is for me to reproduce to investigate.

[2018-05-09 14:55] binpath commented on #119
@derekgroh,
I'm trying to do the following scenario:
-------              -------
| DCO | <----- | NODE |
--------            --------

I create the node in VMware and we added to the domain with chef-provisioning, So the node when is ready is already added to the computers in the AD.

Then In the Node I run the windows_ad_user resource, using the domain admin user, I have to add the 'Replace leve

[2018-05-11 21:54] binpath commented on #119
@derekgroh dos you could replicarse The scenario or you need more information?

Kind regards,
César

[2018-05-15 21:11] binpath commented on #119
@derekgroh can we have a session so I can show you? you will notice faster..
Let me try to explain it:
NODES:
A. DomainController (no run-list)
B. One server Windows 2012 Server R2. (Provisioned with VMWare this add the machine to the domain  using customSpecs)
Runlist:
     nvs_windows::secedit (this one add permission to node to runAs other user)
     nvs_ad::createusers (this one tries using th

[2018-12-29 11:57] devopsjith opened #120 "for entering chef-client command getting error like dis below"

[2018-12-29 11:58] devopsjith commented on #120
[root@ip-172-31-21-79 ~]# chef-client
Starting Chef Client, version 14.8.12
resolving cookbooks for run list: ["nginx"]
Synchronizing Cookbooks:
  - nginx (0.1.7)
Installing Cookbook Gems:
Compiling Cookbooks...
Converging 7 resources
Recipe: nginx::removeapache
  * service[httpd] action stop (up to date)
  * yum_package[httpd] action remove

    ===================================================

[2018-12-29 15:03] derekgroh commented on #120
Why are we trying to remove a Linux package from a windows system?

[2019-01-01 16:39] derekgroh commented on #120
@devopsjith as this doesn’t directly deal with the windows_ad cookbook, this issue will be closed.

[2019-01-01 16:39] #120 closed

[2019-04-04 17:11] saivv opened #121 "Cannot remove 'USER' from 'OU' and 'GROUP' from 'OU' in AD using windows_ad cookbook"
Hi,

I am using the windows_ad cookbook to **remove the user** from the ou here is the recipe I am using:

**# Delete user "Joe Smith" in the Test Users OU
windows_ad_user "Joe Smith" do
  action :delete
  domain_name "un.platform.dev"
  ou "Org/Services/Development/Users/Test Users"
end**

error i see ,

Synchronizing Cookbooks:
  - windows (5.1.3)
  - windows_ad (0.1.0)
  - ActiveDirectory_Autom

[2019-04-04 17:28] derekgroh commented on #121
Any reason to not be using the latest version

[2019-04-04 18:40] saivv commented on #121
Sorry not sure how that happend but now I am using the windows_ad  0.6.2 still it failed :(

Here you go the error part ::

Synchronizing Cookbooks:
  - windows (5.1.3)
  - ActiveDirectory_Automation (0.1.0)
[2019-04-04T18:37:17+00:00] INFO: Storing updated cookbooks/windows_ad/metadata.rb in the cache.
  - windows_ad (0.6.2)
Installing Cookbook Gems:
Compiling Cookbooks...
Converging 1 resources

[2019-04-05 15:58] derekgroh commented on #121
I'm receiving the same error on the latest chef-client, appears to be an issue with the cmd_helper not resolving the DN correctly to delete the object.

[2019-04-05 16:21] saivv commented on #121
Okay ! Do you know what can we do there as of now to make it work or can you update me when you are able to resolve this please. Thanks in advance :)

[2019-04-05 17:03] derekgroh commented on #121
From what I'm seeing, likely not. It should be able to accept the full DN, but the way the helper is written I doubt it will pass through correctly.

If you want a true work around, run a powershell_script command for `dsrm "DN" -noprompt` to remove the object (this will work for any object, group, user, etc.)

[2019-04-07 01:32] derekgroh commented on #121
@saivv try https://github.com/TAMUArch/cookbook.windows_ad/tree/feature/issue121 and see if that resolves the issue.

[2019-04-08 18:43] saivv commented on #121
thanks it worked now I am able to remove it.

[2019-04-08 18:54] saivv commented on #121
But for removing Group From Ou I still see this error :

Synchronizing Cookbooks:
  - windows (5.1.3)
  - windows_ad (0.6.3)
  - ActiveDirectory_Automation (0.1.0)
Installing Cookbook Gems:
Compiling Cookbooks...
Converging 1 resources
Recipe: ActiveDirectory_Automation::Remove_Group
  * windows_ad_group[Chef Teamtest] action delete[2019-04-08T18:42:48+00:00] INFO: Processing windows_ad_group[Chef

[2019-04-08 22:44] derekgroh commented on #121
@saivv Add the escape for spaces in the OU for all the providers. Let me know if you see any other bugs.

[2019-04-09 15:36] derekgroh commented on #121
You originally tried the OU path: `org/Services/Development/Users/Test Users`, which has a space so the provider was failing out because the DN was not double quoted.

Your latest OU path `Services/Development/Users` shouldn't have an issue, but the name has a space, which should be corrected by the same fix.

If you are still having issues, send me a PM on slack and we can try to work the issue.

[2019-04-15 23:00] Techcadia commented on #121
@derekgroh Can we get this branch merged and a new version cut. I have a build dep on the windows version and this issue would solve it.

[2019-04-15 23:57] derekgroh commented on #121
@Techcadia I'd like to finish linting and update the docs before updating supermarket, but I've prereleased the version here.

[2019-04-15 23:57] derekgroh commented on #121
@saivv I'll keep this issue open for a while longer as I know you're still working through getting it working, let me know if you have any other questions.

[2019-05-13 18:19] Spechal commented on #91
SSSD is another common authentication mechanism and goes back to use another or wrapper cookbook ... https://supermarket.chef.io/cookbooks/sssd_ad

[2019-10-17 17:03] webframp opened #122 "Testing on ec2 with test-kitchen"
Hey there @derekgroh and others!

I have a question about the testing approach used with this cookbook and was wondering if anyone had input.

Have you tested this at all with the ec2 driver for creating a new forest and joining a new member computer to the new domain? I’m interested in how you handle the necessary reboots and any fine tuning of timeout values that might be required.

If not speci

[2019-10-17 19:07] webframp commented on #122
Further background, this is the recurring issue I am seeing:
[code]

[2019-10-17 22:12] derekgroh commented on #122
I have not tested with the ec2 driver, but this should not be limited as only an ec2 driver issue.

For the initial forest creation, the best method was to not perform a reboot as part of the ADDS and instead notify a reboot resource to allow chef to be aware of the reboot.

I'll take a look at my old testing branches to see if I still have the code that was exploring this issue.

[2019-10-18 19:11] webframp commented on #122
Thanks,  trying out a few things but can't seem to nail down the correct combination of kitchen settings for timeouts and retries to get the initial create to work successfully. I want to build out some automation for RODC work but want the automation pipeline to be able to build out the domain fresh everytime from a test fixture cookbook.

Using the following very basic platform setting in kitche

[2019-10-18 20:21] derekgroh commented on #122
For your example there, it seems the computer rebooted after `windows_ad_domain[test.net]` action create` before running `powershell_script[create_domain_test.net] action run`.

Confirm your recipe does something similar to the [test recipe](https://github.com/TAMUArch/cookbook.windows_ad/blob/master/test/fixtures/test_cookbooks/test_windows_ad/recipes/setup_forest.rb), then adjust your `wait_for_

[2019-11-05 05:51] derekgroh commented on #91
We're taking some effort to clean up older issues for this repository.

If you still have a need for this feature, please submit the request to the Chef repository for resource windows_ad_join (https://github.com/chef/chef/blob/master/lib/chef/resource/windows_ad_join.rb) as this cookbook is no longer going to handle duplicating an existing resource.

[2019-11-05 05:51] #91 closed

[2019-11-05 05:51] derekgroh commented on #93
We're taking some effort to clean up older issues for this repository. Please reply if you still wish for this to be worked on.

[2019-11-05 05:51] #93 closed

[2019-11-05 05:51] derekgroh commented on #94
We're taking some effort to clean up older issues for this repository.

If you still have a need for this feature, please submit the request to the Chef repository for resource windows_ad_join (https://github.com/chef/chef/blob/master/lib/chef/resource/windows_ad_join.rb) as this cookbook is no longer going to handle duplicating an existing resource.

[2019-11-05 05:51] #94 closed

[2019-11-05 05:51] derekgroh commented on #114
We're taking some effort to clean up older issues for this repository. Please reply if you still wish for this to be worked on.

[2019-11-05 05:51] #114 closed

[2019-11-05 05:51] derekgroh commented on #116
We're taking some effort to clean up older issues for this repository. Please reply if you still wish for this to be worked on.

[2019-11-05 05:51] #116 closed

[2019-11-05 05:52] derekgroh commented on #78
We're taking some effort to clean up older issues for this repository. Please reply if you still wish for this to be worked on.

[2019-11-05 05:52] #78 closed

[2019-11-05 05:52] derekgroh commented on #82
We're taking some effort to clean up older issues for this repository.

This feature has been addressed by Chef with the resource: https://docs.chef.io/resource_windows_ad_join.html

[2019-11-05 05:52] #82 closed

[2019-11-05 05:52] derekgroh commented on #84
We're taking some effort to clean up older issues for this repository.

This feature has been addressed by Chef with the resource: https://docs.chef.io/resource_windows_ad_join.html

[2019-11-05 05:52] #84 closed

[2019-11-05 05:52] #68 closed

[2019-11-05 05:53] derekgroh commented on #96
We're taking some effort to clean up older issues for this repository. Please reply if you still wish for this to be worked on.

[2019-11-05 05:53] #96 closed

[2019-11-05 05:53] derekgroh commented on #119
We're taking some effort to clean up older issues for this repository. Please reply if you still wish for this to be worked on.

[2019-11-05 05:53] #119 closed

[2019-11-05 05:54] derekgroh commented on #65
We're taking some effort to clean up older issues for this repository. Please reply if you still wish for this to be worked on.

[2019-11-05 05:54] #65 closed

[2019-11-05 05:55] derekgroh commented on #121
We're taking some effort to clean up older issues for this repository. Please reply if you still wish for this to be worked on.

[2019-11-05 05:55] #121 closed

[2019-11-11 12:23] binpath commented on #119
@derekgroh ye we needed it and we did it, i think is the pull request that a made a long time ago.

[2020-03-03 22:17] #115 closed

[2020-03-03 22:17] #11 closed

[2020-05-31 10:14] akdasari opened #125 "can't join vm to the domain"
### Cookbook version
windows_ad : 0.7.1

### Chef-client version
Chef Infra Client version: 15.7.32

### Platform Details
azure

### Scenario:
trying to add vm to domain

windows_ad_computer node['cookbook']['domain'] do
  action :join
  domain_pass node['cookbook']['domain_password']
  domain_user node['cookbook']['domain_user']
  domain_name node['cookbook']['domain']
  restart true
end

### Ste

[2020-05-31 16:53] derekgroh commented on #125
Howdy @akdasari, this was not updated in the readme, but the joining of computers to the domain should be handled by the Chef resource https://docs.chef.io/resources/windows_ad_join/ as it made no sense to continue supporting multiple resources with the same intent.

Please try using that resource and see if you have success.  This cookbook is primarily for creating Active Directory and it’s manag

[2020-07-14 14:58] truonart opened #126 "Issues with Custom Resource when Using Chef-Client v16"
### Cookbook version
0.7.1

### Chef-client version
16.1.16

### Platform Details
ec2

### Scenario:
When using this custom resource I run into errors telling me I need the include domain_user property. This shouldn't be the case because this is a forest creation.

windows_ad_domain domain_name do
  type 'forest'
  safe_mode_pass safe_mode_password
  restart true
  action :create
end

### Steps to

[2020-07-14 15:13] mhincapie commented on #126
We are having exactly the same issue. Thank you @truonart for posting it. We hope its something simple that it can be updated.

We tried it with Chef 14 and Chef 15 and no issues.

[2020-07-14 17:37] derekgroh commented on #126
Thanks for reporting this, it is indeed a simple fix. This should be available on supermarket later today.

[2020-07-14 17:48] derekgroh commented on #126
@truonart Although the issue you reported is valid, it is because of incorrect usage of the resource.

* domain_user: User account to join the domain or to create a domain controller. **Required**: for `:create` except on `type` `forest` on windows 2012 and above.
* domain_pass: User password to join the domain or to create a domain controller. **Required**: for `:create` except on `type` `forest`

[2020-07-14 17:51] derekgroh opened #128 "Clean up deprecated Windows 2008 references"
### Scenario:
There are many resources and documenation that were not properly cleaned up with the removal of support for Windows 2008.

These items should be removed to promote better clarity when using this cookbook.

[2020-07-15 00:15] mhincapie commented on #126
Thank you @derekgroh for the fast reply and solution. We experience the issue with a Windows 2016 and Chef Client 16. Per the instructions above we have been using the following code in Chef 14 and Chef 15 and has been working without adding the properties `domain_user` and `domain_pass`

[code]

Should we start using that from now on? or not necessary?

[2020-07-20 12:35] truonart commented on #126
Hey @derekgroh, your suggestion fixed my issue. Thanks for the help and quick reply.

[2020-07-20 12:35] #126 closed

[2020-10-22 18:47] rreilly-edr opened #129 "Weak password does not fail converge"
### Cookbook version
0.7.2

### Chef-client version
16.6.4

### Platform Details
AWS/windows 2019 core

### Scenario:
create forest/domain

### Steps to Reproduce:
set a weak password

### Expected Result:
chef should exit with the error from the install

### Actual Result:
the chef run completes successfully with no error but I logged onto the machine and the domain has not been created. I ran ch

[2020-10-22 19:31] derekgroh commented on #129
What was the exit code of the command you manually ran?

If this was `[0, 1, 2, 3, 4]`, then the chef resource would report success.

[2020-10-22 20:01] rreilly-edr commented on #129
I will have to run the test again and see what it is exiting with.

[2020-10-22 20:35] rreilly-edr commented on #129
stranger part, is it still executes with out error but is not actually creating the forest, again i take the command that would have been used, execute it and it creates the forest no errors. I will have to add in some debugging see if I can figure out what is going on.

[2020-10-23 19:49] derekgroh commented on #129
You can view this output by setting Chef-client in debug mode.

`provisioner:
  name: chef_zero
  chef_license: accept-no-persist
  product_name: chef
  log_level: debug`

The powershell command executes successfully, but the command logs the following warning which results in aborting the creation of the domain:
`Verification of prerequisites for Domain Controller promotion failed. The Directory

[2020-12-04 14:36] #129 closed

[2021-03-02 16:16] CoreyLivingston commented on #122
I have the same issue. I'll do some testing and see what I can prove/disprove on this issue.

[2021-09-14 08:42] julien-lebot opened #134 "Cannot promote multiple domain controllers (replicas) in a single domain"
### Cookbook version
0.7.2

### Chef-client version
14.5.33

### Platform Details
Windows Server 2019 Datacenter

### Scenario:
Have more than one Domain Controller in a Domain.

### Steps to Reproduce:
Create a forest, then add a backup domain controller.
Since the resource `domain` doesn't execute the create action if a domain already exists, the backup domain controller will not be promoted.

R

[2022-09-13 09:36] nielsbuus commented on #122
I seem to be facing the same issue, but for Windows Server 2019. Did any of you manage to successfully provision a domain controller using test-kitchen / WinRM?